[![Open in Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/Moorea-AI/AI4ENG_UDEA/blob/main/01_Exploraci√≥n_de_datos.ipynb)

EXPLORACI√ìN DE DATOS PARA EL DATASET "Fraude en Transacciones Electr√≥nicas" TOMADO DE: https://www.kaggle.com/competitions/ieee-fraud-detection/data?select=test_transaction

Presentado por: </br>
Aura Luz Moreno D√≠az, Estudiante de Ingenier√≠a Industrial </br>
Evelyn Zharick Saez Gallego, Estudiante de Ingenier√≠a Ambiental</br>
Para la materia:<br>
INTRODUCCI√ìN A LA INTELIGENCIA ARTIFICIAL PARA LAS CIENCIAS Y LA INGENIERIA<BR>
Con el profesor: RA√öL RAMOS POLLAN

In [ ]:
#PASO 1: Importaci√≥n de librerias que ser√°n necesarias para la exploraci√≥n de datos
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import random
import requests
import json

#Importacion de librerias para manipulaci√≥n de datos para Machine Learning
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import cross_validate, ShuffleSplit

from sklearn.model_selection import learning_curve
from sklearn.metrics import mean_squared_error
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import FunctionTransformer
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import LabelEncoder
from sklearn import utils
from sklearn import preprocessing
from sklearn.model_selection import train_test_split,KFold,GroupKFold
import lightgbm as lgb
import gc

import warnings
warnings.filterwarnings('ignore')

In [ ]:
# Cargando credenciales de Kaggel
{"username":"mooreamed","key":"e97f8db473e00551f7aea527af024391"}
with open('kaggle.json', 'w') as file:
    json.dump(data, file, indent=4)

!cp kaggle.json ~/.kaggle/

In [ ]:
# Se descarga el dataset
!kaggle datasets download -d niangmohamed/ieeecis-fraud-detection

# Se descomprime el dataset
!unzip ieeecis-fraud-detection.zip

Downloading ieeecis-fraud-detection.zip to /content
 96% 113M/118M [00:01<00:00, 83.6MB/s]
100% 118M/118M [00:01<00:00, 75.6MB/s]
Archive:  ieeecis-fraud-detection.zip
  inflating: sample_submission.csv
  inflating: test_identity.csv
  inflating: test_transaction.csv
  inflating: train_identity.csv
  inflating: train_transaction.csv

In [ ]:
#Verificamos que se este funcionando la conexi√≥n de la API
!kaggle datasets list

ref                                                            title                                                size  lastUpdated          downloadCount  voteCount  usabilityRating
-------------------------------------------------------------  --------------------------------------------------  -----  -------------------  -------------  ---------  ---------------
salvatorerastelli/spotify-and-youtube                          Spotify and Youtube                                   9MB  2023-03-20 15:43:25           9136        334  1.0
arnabchaki/data-science-salaries-2023                          Data Science Salaries 2023  üí∏                        25KB  2023-04-13 09:55:16           2507         69  1.0
erdemtaha/cancer-data                                          Cancer Data                                          49KB  2023-03-22 07:57:00           4237         97  1.0
evangower/premier-league-2022-2023                             Premier League 2022-2023                              7KB  2023-04-14 19:45:22            638         28  1.0
lokeshparab/amazon-products-dataset                            Amazon Products Sales Dataset 2023                   80MB  2023-03-26 10:45:19           4654         97  1.0
iammustafatz/diabetes-prediction-dataset                       Diabetes prediction dataset                         734KB  2023-04-08 06:11:45           1467         31  1.0
ulrikthygepedersen/fastfood-nutrition                          Fastfood Nutrition                                   12KB  2023-03-21 10:02:41           3755         72  1.0
mikoajfish99/us-recession-and-financial-indicators             üèõÔ∏è  Financial Indicators of US Recession üìâ          989KB  2023-04-17 13:54:47            499         25  1.0
desalegngeb/students-exam-scores                               Students Exam Scores: Extended Dataset              695KB  2023-04-14 00:15:38            870         27  1.0
rkiattisak/student-performance-in-mathematics                  Student performance prediction                        9KB  2023-03-12 04:32:56           9624        208  1.0
ppb00x/credit-risk-customers                                   credit_risk_customers                                18KB  2023-04-12 08:28:28           1430         41  1.0
ritwikb3/heart-disease-cleveland                               Heart Disease Cleveland                               3KB  2023-03-28 17:48:48            613         24  1.0
ppb00x/country-gdp                                             Country_GDP                                           7KB  2023-04-07 06:47:36           1414         40  1.0
dansbecker/melbourne-housing-snapshot                          Melbourne Housing Snapshot                          451KB  2018-06-05 12:52:24         113424       1250  0.7058824
r1shabhgupta/google-stock-price-daily-weekly-and-monthly-2023  Google Stock Price: Daily, Weekly & Monthly (2023)   61KB  2023-04-15 18:23:08            724         30  1.0
omartorres25/honda-data                                        Honda Cars Data                                     184KB  2023-03-28 04:19:11           1559         34  1.0
harshghadiya/kidneystone                                       Kidney Stone Dataset                                  2KB  2023-04-12 06:09:00            778         24  0.8235294
ashishraut64/internet-users                                    Global Internet users                               163KB  2023-03-29 12:25:13           2512         62  1.0
andrezaza/clapper-massive-rotten-tomatoes-movies-and-reviews   üé¨ Massive Rotten Tomatoes Movies & Reviews          152MB  2023-04-13 10:58:54            542         22  1.0
r1chardson/the-world-university-rankings-2011-2023             THE World University Rankings 2011-2023               1MB  2023-04-03 12:43:37           2249         53  1.0

# ANALISIS DE LOS DATOS

###**TABLA IDENTITY** <BR>
Las variables en esta tabla son informaci√≥n de identidad: 
<BR><BR>
informaci√≥n de conexi√≥n de red (IP, ISP, Proxy, etc.) y firma digital (UA/
navegador/OS/versi√≥n, etc.) asociada con las transacciones.<BR><BR>
Son recopilados por el sistema de protecci√≥n contra fraudes de Vesta y los socios de seguridad digital.<BR><BR>
(Los nombres de los campos est√°n enmascarados y no se proporcionar√° el diccionario por pares para la protecci√≥n de la privacidad y el acuerdo del contrato)<BR><BR>

TransactionID<br>
id_12 - id_38<BR>
DeviceType<BR>
DeviceInfo<BR>

<BR><BR>


###**TABLA TRANSACCIONES:** <BR>

TransactionDT: timedelta de una fecha y hora de referencia determinada (no una marca de tiempo real). timedelta de una fecha y hora de referencia dada (no una marca de tiempo real). El primer valor de TransactionDT es 86400, que corresponde a la cantidad de segundos en un d√≠a (60 * 60 * 24 = 86400), as√≠ que creo que la unidad es segundos. Usando esto, sabemos que los datos abarcan 6 meses, ya que el valor m√°ximo es 15811131, que corresponder√≠a al d√≠a 183‚Äù
<BR>

TransactionAMT: monto del pago de la transacci√≥n en USD<BR>

ProductCD: c√≥digo de producto, el producto para cada transacci√≥n<BR>

card1 - card6: informaci√≥n de la tarjeta de pago, como tipo de tarjeta, categor√≠a de tarjeta, banco emisor, pa√≠s, etc.<BR>

direcci√≥n: direcci√≥n addr1 como regi√≥n de facturaci√≥n, addr2 como pa√≠s de facturaci√≥n<BR>

distancia: distancias entre (no limitadas) la direcci√≥n de facturaci√≥n, la direcci√≥n postal, el c√≥digo postal, la direcci√≥n IP, el √°rea telef√≥nica, etc
<BR>

P_ y (R__) emaildomain: dominio de correo electr√≥nico del comprador y del destinatario<BR>

C1-C14: conteo, como cu√°ntas direcciones se encuentran asociadas con la tarjeta de pago, etc. El significado real est√° enmascarado.<BR>

D1-D15: timedelta, como d√≠as entre transacciones anteriores, etc.<BR>

M1-M9: coincidencia, como nombres en la tarjeta y direcci√≥n, etc.<BR>

Vxxx: caracter√≠sticas completas dise√±adas por Vesta, que incluyen clasificaci√≥n, conteo y otras relaciones de entidad.<BR><BR>

Caracter√≠sticas categ√≥ricas:<BR>

ProductCD<BR>
card1 - card6<BR>
addr1, addr2<BR>
P_emaildomain<BR>
R_emaildomain<BR>
M1 - M9<BR>

In [21]:
#Vamos a leer los datos que tiene el dataset para empezar con el an√°lisis explorartorio
df = pd.read_csv('test_identity.csv')
df.head(10)

,TransactionID,id-01,id-02,id-03,id-04,id-05,id-06,id-07,id-08,id-09,...,id-31,id-32,id-33,id-34,id-35,id-36,id-37,id-38,DeviceType,DeviceInfo
0,3663586,-45.0,280290.0,NaN,NaN,0.0,0.0,NaN,NaN,NaN,...,chrome 67.0 for android,NaN,NaN,NaN,F,F,T,F,mobile,MYA-L13 Build/HUAWEIMYA-L13
1,3663588,0.0,3579.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,...,chrome 67.0 for android,24.0,1280x720,match_status:2,T,F,T,T,mobile,LGLS676 Build/MXB48T
2,3663597,-5.0,185210.0,NaN,NaN,1.0,0.0,NaN,NaN,NaN,...,ie 11.0 for tablet,NaN,NaN,NaN,F,T,T,F,desktop,Trident/7.0
3,3663601,-45.0,252944.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,...,chrome 67.0 for android,NaN,NaN,NaN,F,F,T,F,mobile,MYA-L13 Build/HUAWEIMYA-L13
4,3663602,-95.0,328680.0,NaN,NaN,7.0,-33.0,NaN,NaN,NaN,...,chrome 67.0 for android,NaN,NaN,NaN,F,F,T,F,mobile,SM-G9650 Build/R16NW
5,3663622,-5.0,36786.0,NaN,NaN,4.0,-2.0,NaN,NaN,NaN,...,mobile safari 11.0,32.0,2208x1242,match_status:2,T,F,F,T,mobile,iOS Device
6,3663624,-5.0,12577.0,0.0,0.0,2.0,-2.0,NaN,NaN,0.0,...,mobile safari 11.0,32.0,2208x1242,match_status:2,T,F,F,T,mobile,iOS Device
7,3663626,-5.0,44726.0,0.0,0.0,0.0,-2.0,NaN,NaN,0.0,...,mobile safari 11.0,32.0,2208x1242,match_status:2,T,F,F,T,mobile,iOS Device
8,3663629,-5.0,125997.0,0.0,0.0,2.0,-2.0,NaN,NaN,0.0,...,mobile safari 11.0,32.0,2208x1242,match_status:2,T,F,F,T,mobile,iOS Device
9,3663658,-5.0,98741.0,NaN,NaN,0.0,0.0,NaN,NaN,NaN,...,mobile safari 11.0,32.0,2048x1536,match_status:2,T,F,F,F,mobile,iOS Device

COLUMNAS DE LA TABLA IDENTIDAD:
TransactionID<br>
id_12 - id_38<BR>
DeviceType<BR>
DeviceInfo<BR>

In [22]:
#Se imprimen las columnas para poder identificarlas y seleccionar cu√°les ser√°n susceptibles de an√°lisis. Para esto, tomaremos solamente la tabla de identidad

df.columns

Index(['TransactionID', 'id-01', 'id-02', 'id-03', 'id-04', 'id-05', 'id-06',
       'id-07', 'id-08', 'id-09', 'id-10', 'id-11', 'id-12', 'id-13', 'id-14',
       'id-15', 'id-16', 'id-17', 'id-18', 'id-19', 'id-20', 'id-21', 'id-22',
       'id-23', 'id-24', 'id-25', 'id-26', 'id-27', 'id-28', 'id-29', 'id-30',
       'id-31', 'id-32', 'id-33', 'id-34', 'id-35', 'id-36', 'id-37', 'id-38',
       'DeviceType', 'DeviceInfo'],
      dtype='object')

In [23]:
#Para cumplir el requerimiento solicitado por el trabajo acad√©mico, tenemos 41 columnas y 141.907 instancias
df.shape

(141907, 41)

In [24]:
#Y la info exacta del DF
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 141907 entries, 0 to 141906
Data columns (total 41 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   TransactionID  141907 non-null  int64
 1   id-01          141907 non-null  float64
 2   id-02          136976 non-null  float64
 3   id-03          66481 non-null   float64
 4   id-04          66481 non-null   float64
 5   id-05          134750 non-null  float64
 6   id-06          134750 non-null  float64
 7   id-07          5059 non-null    float64
 8   id-08          5059 non-null    float64
 9   id-09          74338 non-null   float64
 10  id-10          74338 non-null   float64
 11  id-11          136778 non-null  float64
 12  id-12          141907 non-null  object
 13  id-13          130286 non-null  float64
 14  id-14          71357 non-null   float64
 15  id-15          136977 non-null  object
 16  id-16          125747 non-null  object
 17  id-17          135966 non-null  float64
 18  id-18          50875 non-null   float64
 19  id-19          135906 non-null  float64
 20  id-20          135633 non-null  float64
 21  id-21          5059 non-null    float64
 22  id-22          5062 non-null    float64
 23  id-23          5062 non-null    object
 24  id-24          4740 non-null    float64
 25  id-25          5039 non-null    float64
 26  id-26          5047 non-null    float64
 27  id-27          5062 non-null    object
 28  id-28          136778 non-null  object
 29  id-29          136778 non-null  object
 30  id-30          70659 non-null   object
 31  id-31          136625 non-null  object
 32  id-32          70671 non-null   float64
 33  id-33          70671 non-null   object
 34  id-34          72175 non-null   object
 35  id-35          136977 non-null  object
 36  id-36          136977 non-null  object
 37  id-37          136977 non-null  object
 38  id-38          136977 non-null  object
 39  DeviceType     136931 non-null  object
 40  DeviceInfo     115057 non-null  object
dtypes: float64(23), int64(1), object(17)
memory usage: 44.4+ MB

In [26]:
#Debemos verificar cu√°ntos valores nulos tenemos en la tabla, para esto hacemos el chequeo asi:

Nulos_NoNulos= df.isna().any().any()#Vamos a encontrar cuantos valores NaN existen en nuestro dataframe
Total_Nulos = df.isna().sum().sum()#Vamos a sumar el total de valores NaN presentes en el dataframe

print("Hay valores nulos?: "+str(Nulos_NoNulos))
print("Total de nulos: "+str(Total_Nulos))

Hay valores nulos?: True
Total de nulos: 2105385

Seg√∫n el dato anterior, tenemos 2.105.385 de datos nulos, es decir, superior al 5%, ya que tenemos un total de 5.818.187 datos. <br>
Con esto se cumple la condici√≥n solicitada en el trabajo acad√©mico

In [27]:
df.isnull().sum() #Columnas con valores nulos

TransactionID         0
id-01                 0
id-02              4931
id-03             75426
id-04             75426
id-05              7157
id-06              7157
id-07            136848
id-08            136848
id-09             67569
id-10             67569
id-11              5129
id-12                 0
id-13             11621
id-14             70550
id-15              4930
id-16             16160
id-17              5941
id-18             91032
id-19              6001
id-20              6274
id-21            136848
id-22            136845
id-23            136845
id-24            137167
id-25            136868
id-26            136860
id-27            136845
id-28              5129
id-29              5129
id-30             71248
id-31              5282
id-32             71236
id-33             71236
id-34             69732
id-35              4930
id-36              4930
id-37              4930
id-38              4930
DeviceType         4976
DeviceInfo        26850
dtype: int64

In [28]:
df.isnull().mean() * 100 #Promedio en las columnas con valores nulos

TransactionID     0.000000
id-01             0.000000
id-02             3.474811
id-03            53.151712
id-04            53.151712
id-05             5.043444
id-06             5.043444
id-07            96.434989
id-08            96.434989
id-09            47.614987
id-10            47.614987
id-11             3.614339
id-12             0.000000
id-13             8.189166
id-14            49.715659
id-15             3.474106
id-16            11.387740
id-17             4.186545
id-18            64.149055
id-19             4.228826
id-20             4.421205
id-21            96.434989
id-22            96.432875
id-23            96.432875
id-24            96.659784
id-25            96.449083
id-26            96.443445
id-27            96.432875
id-28             3.614339
id-29             3.614339
id-30            50.207530
id-31             3.722156
id-32            50.199074
id-33            50.199074
id-34            49.139225
id-35             3.474106
id-36             3.474106
id-37             3.474106
id-38             3.474106
DeviceType        3.506522
DeviceInfo       18.920843
dtype: float64